<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body th:fragment="main-body">
<div id="adm_wrap">
    <header>
        <div class="head">
            <h1>Board</h1>
            <div class="top_menu">
                <div class="login_user" th:if="${isLoggedIn}">
                    <strong><i class="far fa-user-circle"></i> <span th:text="${loginMember.name}"></span></strong>님
                    반갑습니다.
                    <div class="logout">
                        <form id="logoutForm" method="post">
                            <button type="button" onclick="logout()">
                                <span class="skip_info">로그아웃</span><i class="fas fa-sign-out-alt"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="login_user" th:if="${!isLoggedIn}">
                    <a th:href="@{/members/login}" class="btn_login">로그인</a>
                </div>
            </div>
        </div>
    </header>

    <div id="container">
        <div class="menu_toggle"><span></span></div>
        <!--/* 좌측 영역 */-->
        <div class="lcontent">
            <!--/* 메뉴 */-->
            <nav>
                <ul>
                    <li class="has_sub"><a href="javascript: void(0);" class="on"><span>게시판 관리</span></a>
                        <ul>
                            <li><a href="/post/list" class="on">리스트형</a></li>
                            <li><a href="javascript: alert('준비 중입니다.');">갤러리형</a></li>
                            <li><a href="javascript: alert('준비 중입니다.');">캘린더형</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript: alert('준비 중입니다.');"><span>회원 관리</span></a></li>
                </ul>
            </nav>
        </div>

        <!--/* 우측 영역 */-->
        <div class="rcontent">

            <!--/* 페이지별 컨텐츠 */-->
            <th:block layout:fragment="content"></th:block>

        </div>
    </div> <!--/* // #container */-->
    <footer>Copyright(c)네임즈.All rights reserved.</footer>
</div>

<script th:src="@{/js/function.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/moment.min.js}"></script>
<script src="https://kit.fontawesome.com/aeecc06569.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script>
    async function logout() {
        try {
            const response = await fetch('/api/members/logout', {
                method : 'POST',
                headers: {
                    'Content-Type' : 'application/json',
                },
            });

            if (!response.ok) {
                throw new Error('로그아웃 요청 실패');
            }

            alert('로그아웃 되었습니다');
            location.href = '/members/login';
        } catch (error) {
            console.error('로그아웃 중 오류: ', error);
            alert('로그아웃에 실패했습니다.');
        }
    }
</script>
<th:block layout:fragment="script"></th:block>
</body>
</html>